@use "sass:color";
@use "./../../abstracts" as *;

.motivation {

    $mHeight: calc(18rem + 33vw);    
    position: relative;
    margin-top: 2rem;
    $colorTextbereich: rgb(3, 56, 47);
    $colorStrichText: color.scale($colorTextbereich, $lightness: 20%)!default;
    height: clamp(10rem, calc(10rem + 35vw), 36rem); /*calc(10rem + 35vw);*/
    clear: both;
        
    &__textbereich { 

        float: left;        
        width: 33.33%;
        height: $mHeight;
        /*padding: 7rem;*/
        color: $colorTextbereich;
        /*margin: 0px auto;*/
        padding-right: 4.5rem;
        padding-top: 2rem;

        @media(max-width: $breakpoint-lg) {
            padding-right: 3rem;
        }

        @media(max-width: $breakpoint-md) {
            padding-right: 2rem;
            padding-top: 0;
            width: 50%;
        }

        @media(max-width: $breakpoint-sm) {
            width: 100%;
            float: none;
        }

        &-text {
            font-size: 1.1rem;
        }

    } 

    &__text-heading {
        margin-top: 8rem;
        font-weight: 500;
        color: $colorTextbereich;

        &::before {
            content: "";
            height: 0.2rem;
            background-color: $colorStrichText;
            width: 3rem;
            display: block;
            margin-bottom: 0.5rem;
        }
    }

    &__bilderbereich {
        height: $mHeight;
        float: left;
        width: 66.66%; 
        position: relative; 
        /*margin-left: 25%;*/

        @media(max-width: $breakpoint-lg) {
            margin-top: 5rem;
        }

        @media(max-width: $breakpoint-md) {
            margin-top: 5rem;
            width: 50%;
        }

        @media(max-width: $breakpoint-sm) {
            width: 80%;
            margin: auto;
        }

        
    }

    &__card {
        
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        position: absolute; 
        overflow: hidden;
        box-sizing: content-box;

        &-berge {
            @include card(80%, 40%, "pexels-simon-migaj-747964.jpg", 25%, 0.1rem, -0.6rem, auto, 1, 0rem, 0rem, 0.5rem);
        }
        
        &-meer {
            @include card(45%, 45%, "pexels-jacub-gomez-1152043.jpg", 10%, 20%, auto, auto, 2, 0rem, 0rem, 0.4rem, 0.4rem); 
        }

        &-see-baum {
            @include card(50%, 60%, "pexels-jaime-reimer-2662086.jpg", auto, 15%, 5%, auto, 3, 0.4rem, 0rem, 0rem, 0.4rem);
        }         
    }
    
    @keyframes cardHover {
        0% {
            transform: scale(1);
            filter: grayscale(0.5)
            
        }
        100% {
            transform: scale(1.2);
            filter: grayscale(0);
        }
    }
}